In [1]:
from sklearn_extra.cluster import KMedoids
import pandas as pd

In [2]:
power_df = pd.read_csv(r"C:\Users\ishit\OneDrive\Desktop\Power_dataset.csv")
power_df.head(5)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16-12-2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16-12-2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16-12-2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16-12-2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16-12-2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

In [3]:
df = power_df.drop(['Date','Time','Sub_metering_3'], axis=1)
df

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2
0,4.216,0.418,234.84,18.4,0.0,1.0
1,5.360,0.436,233.63,23.0,0.0,1.0
2,5.374,0.498,233.29,23.0,0.0,2.0
3,5.388,0.502,233.74,23.0,0.0,1.0
4,3.666,0.528,235.68,15.8,0.0,1.0
...,...,...,...,...,...,...
1048570,0.426,0.076,242.27,1.8,0.0,0.0
1048571,0.424,0.076,242.10,1.8,0.0,0.0
1048572,0.422,0.076,241.73,1.8,0.0,0.0
1048573,0.422,0.078,242.56,1.8,0.0,0.0
1048574,0.422,0.078,242.61,1.8,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Global_active_power    1044506 non-null  float64
 1   Global_reactive_power  1044506 non-null  float64
 2   Voltage                1044506 non-null  float64
 3   Global_intensity       1044506 non-null  float64
 4   Sub_metering_1         1044506 non-null  float64
 5   Sub_metering_2         1044506 non-null  float64
dtypes: float64(6)
memory usage: 48.0 MB

In [5]:
df.shape

(1048575, 6)

In [6]:
df=df.head(15000)

In [7]:
df=df.dropna(axis=0)
df.isnull().sum()

Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
dtype: int64

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn_extra.cluster import KMedoids

Clus_dataSet = StandardScaler().fit_transform(df)
clusterNum = 3
k_medoids = KMedoids(n_clusters=clusterNum, random_state=42)
k_medoids.fit(df)
labels = k_medoids.labels_
centroids = k_medoids.medoid_indices_
df["Clus_km"] = labels
print("\nPower Reading")
print(df["Clus_km"].value_counts())
print(df.head(10))
print("medoids are \n",centroids)

Power Reading
2    5920
0    4728
1    4350
Name: Clus_km, dtype: int64
   Global_active_power  Global_reactive_power  Voltage  Global_intensity  \
0                4.216                  0.418   234.84              18.4
1                5.360                  0.436   233.63              23.0
2                5.374                  0.498   233.29              23.0
3                5.388                  0.502   233.74              23.0
4                3.666                  0.528   235.68              15.8
5                3.520                  0.522   235.02              15.0
6                3.702                  0.520   235.09              15.8
7                3.700                  0.520   235.22              15.8
8                3.668                  0.510   233.99              15.8
9                3.662                  0.510   233.86              15.8

   Sub_metering_1  Sub_metering_2  Clus_km
0             0.0             1.0        1
1             0.0             1.0        1
2             0.0             2.0        1
3             0.0             1.0        1
4             0.0             1.0        1
5             0.0             2.0        1
6             0.0             1.0        1
7             0.0             1.0        1
8             0.0             1.0        1
9             0.0             2.0        1
medoids are
 [ 7050 14407  6632]