In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("Dataset_lab4.csv")
data

    T_ID                       Item_set
0     10             Milk,Bread,Biscuit
1     20  Bread,Milk,Biscuit,Cornflakes
2     30            Bread,Tea,Bournvita
3     40        Bread,Coffee,Bread,Milk
4     50             Coffee,Tea,Biscuit
5     60            Bread,Tea,Bournvita
6     70          Coffee,Tea,Cornflakes
7     80       Coffee,Bread,Tea,Biscuit
8     90        Tea,Coffee,Bread,Coffee
9    100                     Bread,Milk
10   110      Coffee,Biscuit,Cornflakes
11   120       Bread,Biscuit,Cornflakes
12   130         Coffee,Sugar,Bournvita
13   140            Bread,Coffee,Butter
14   150            Bread,Sugar,Biscuit
15   160        Coffee,Sugar,Cornflakes
16   170          Bread,Sugar,Bournvita
17   180             Bread,Coffee,Sugar
18   190      Bread,Coffee,Sugar,Butter
19   200     Tea,Milk,Coffee,Cornflakes

In [2]:
data = {"Item_set" : [ "Milk,Bread,Biscuit","Bread,Milk,Biscuit,Cornflakes","Bread,Tea,Bournvita","Bread,Coffee,Bread,Milk",
    "Coffee,Tea,Biscuit","Bread,Tea,Bournvita","Coffee,Tea,Cornflakes","Coffee,Bread,Tea,Biscuit","Tea,Coffee,Bread,Coffee",
    "Bread,Milk","Coffee,Biscuit,Cornflakes","Bread,Biscuit,Cornflakes","Coffee,Sugar,Bournvita","Bread,Coffee,Butter",
    "Bread,Sugar,Biscuit","Coffee,Sugar,Cornflakes","Bread,Sugar,Bournvita","Bread,Coffee,Sugar","Bread,Coffee,Sugar,Butter",
    "Tea,Milk,Coffee,Cornflakes"]}

df = pd.DataFrame(data)

df['Item_set'] = df['Item_set'].apply(lambda x: x.split(','))    # Splitting the 'Item set' column into a list of items

for transaction in df['Item_set']:         # Printing the resulting list of dictionaries
    print(transaction)

['Milk', 'Bread', 'Biscuit']
['Bread', 'Milk', 'Biscuit', 'Cornflakes']
['Bread', 'Tea', 'Bournvita']
['Bread', 'Coffee', 'Bread', 'Milk']
['Coffee', 'Tea', 'Biscuit']
['Bread', 'Tea', 'Bournvita']
['Coffee', 'Tea', 'Cornflakes']
['Coffee', 'Bread', 'Tea', 'Biscuit']
['Tea', 'Coffee', 'Bread', 'Coffee']
['Bread', 'Milk']
['Coffee', 'Biscuit', 'Cornflakes']
['Bread', 'Biscuit', 'Cornflakes']
['Coffee', 'Sugar', 'Bournvita']
['Bread', 'Coffee', 'Butter']
['Bread', 'Sugar', 'Biscuit']
['Coffee', 'Sugar', 'Cornflakes']
['Bread', 'Sugar', 'Bournvita']
['Bread', 'Coffee', 'Sugar']
['Bread', 'Coffee', 'Sugar', 'Butter']
['Tea', 'Milk', 'Coffee', 'Cornflakes']

In [3]:
import mlxtend 
from mlxtend.preprocessing import TransactionEncoder

# Use TransactionEncoder
#TransactionEncoder is used for converting the transaction data into a suitable format for association rule mining.
#create an instance of the TransactionEncoder class, which will be used to convert the transaction data into a binary matrix format.

TE = TransactionEncoder()          

TE_Array = TE.fit(df['Item_set']).transform(df['Item_set'])

#TE_Array is a NumPy array that can be used as input for the Apriori algorithm
# df(item_set) represents a column in dataframe. Each row in this column contains a list of items purchased in a transaction. The fit method is used to fit the TransactionEncoder to the data, and the transform method converts the transaction data into a binary matrix.
# TE_Array can now be taken as input for the Apriori algorithm to discover frequent itemsets and mine association rules

In [4]:
# Convert the result to a DataFrame
data = pd.DataFrame(TE_Array, columns=TE.columns_)

# Print the resulting DataFrame
print(data)

# Basically, converting the binary matrix obtained from the TransactionEncoder transformation into a pandas DataFrame.
#TE_Array is the binary matrix we got, 'columns' parameter is set to TE.columns_ so that unique itemnames is obtained during fit operation.

    Biscuit  Bournvita  Bread  Butter  Coffee  Cornflakes   Milk  Sugar    Tea
0      True      False   True   False   False       False   True  False  False
1      True      False   True   False   False        True   True  False  False
2     False       True   True   False   False       False  False  False   True
3     False      False   True   False    True       False   True  False  False
4      True      False  False   False    True       False  False  False   True
5     False       True   True   False   False       False  False  False   True
6     False      False  False   False    True        True  False  False   True
7      True      False   True   False    True       False  False  False   True
8     False      False   True   False    True       False  False  False   True
9     False      False   True   False   False       False   True  False  False
10     True      False  False   False    True        True  False  False  False
11     True      False   True   False   False        True  False  False  False
12    False       True  False   False    True       False  False   True  False
13    False      False   True    True    True       False  False  False  False
14     True      False   True   False   False       False  False   True  False
15    False      False  False   False    True        True  False   True  False
16    False       True   True   False   False       False  False   True  False
17    False      False   True   False    True       False  False   True  False
18    False      False   True    True    True       False  False   True  False
19    False      False  False   False    True        True   True  False   True

In [5]:
# This imports the apriori function from the mlxtend.frequent_patterns module.
from mlxtend.frequent_patterns import apriori

frequent_itemsets=apriori(data,min_support=0.16,use_colnames=True)
frequent_itemsets

## Min_support sets the min threshold for an itemset to be considered frequent, here 16%
# use_colnames=True: This parameter indicates that the item names should be used in the resulting DataFrame

    support              itemsets
0      0.35             (Biscuit)
1      0.20           (Bournvita)
2      0.70               (Bread)
3      0.60              (Coffee)
4      0.30          (Cornflakes)
5      0.25                (Milk)
6      0.30               (Sugar)
7      0.35                 (Tea)
8      0.25      (Bread, Biscuit)
9      0.30       (Bread, Coffee)
10     0.20         (Milk, Bread)
11     0.20        (Sugar, Bread)
12     0.20          (Tea, Bread)
13     0.20  (Cornflakes, Coffee)
14     0.20       (Sugar, Coffee)
15     0.25         (Tea, Coffee)

In [6]:
 from mlxtend.frequent_patterns import association_rules
 rules=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.16)
 rules

C:\Users\ishit\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bread),(Biscuit),0.70,0.35,0.25,0.357143,1.020408,0.005,1.011111,0.066667
1,(Biscuit),(Bread),0.35,0.70,0.25,0.714286,1.020408,0.005,1.050000,0.030769
2,(Bread),(Coffee),0.70,0.60,0.30,0.428571,0.714286,-0.120,0.700000,-0.571429
3,(Coffee),(Bread),0.60,0.70,0.30,0.500000,0.714286,-0.120,0.600000,-0.500000
4,(Milk),(Bread),0.25,0.70,0.20,0.800000,1.142857,0.025,1.500000,0.166667
5,(Bread),(Milk),0.70,0.25,0.20,0.285714,1.142857,0.025,1.050000,0.416667
6,(Sugar),(Bread),0.30,0.70,0.20,0.666667,0.952381,-0.010,0.900000,-0.066667
7,(Bread),(Sugar),0.70,0.30,0.20,0.285714,0.952381,-0.010,0.980000,-0.142857
8,(Tea),(Bread),0.35,0.70,0.20,0.571429,0.816327,-0.045,0.700000,-0.257143
9,(Bread),(Tea),0.70,0.35,0.20,0.285714,0.816327,-0.045,0.910000,-0.428571
10,(Cornflakes),(Coffee),0.30,0.60,0.20,0.666667,1.111111,0.020,1.200000,0.142857
11,(Coffee),(Cornflakes),0.60,0.30,0.20,0.333333,1.111111,0.020,1.050000,0.250000
12,(Sugar),(Coffee),0.30,0.60,0.20,0.666667,1.111111,0.020,1.200000,0.142857
13,(Coffee),(Sugar),0.60,0.30,0.20,0.333333,1.111111,0.020,1.050000,0.250000
14,(Tea),(Coffee),0.35,0.60,0.25,0.714286,1.190476,0.040,1.400000,0.246154
15,(Coffee),(Tea),0.60,0.35,0.25,0.416667,1.190476,0.040,1.114286,0.400000