In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [16]:
label_names = []
texts = []

for file_name in glob.glob(r"C:\Users\ishit\Downloads\2367406_dataset\bbc\*\*.txt"):
#     print(file_name)
#     print(file_name.split('\\')[-2])
    with open (file_name,'r') as f:
        contents = f.readlines()
        contents = [line for line in [line.strip() for line in contents] if not len(line) == 0]
        for sentence in contents:
            texts.append(sentence)
            label_names.append(file_name.split('\\')[-2])

In [17]:
data_df = pd.DataFrame({
    'text':texts,
    'labels':label_names
})

In [18]:
data_df

                                                    text    labels
0                      Ad sales boost Time Warner profit  business
1      Quarterly profits at US media giant TimeWarner...  business
2      The firm, which is now one of the biggest inve...  business
3      Time Warner said on Friday that it now owns 8%...  business
4      Time Warner's fourth quarter profits were slig...  business
...                                                  ...       ...
12855  I bought the US version of World of Warcraft w...      tech
12856  Having played MMORPG games for some years I ag...      tech
12857  Unless there is undeniable medical proof that ...      tech
12858  These people are pathetic. They need to get of...      tech
12859  24hours, when i was a kid at school and i was ...      tech

[12860 rows x 2 columns]

In [19]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12860 entries, 0 to 12859
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    12860 non-null  object
 1   labels  12860 non-null  object
dtypes: object(2)
memory usage: 201.1+ KB

In [20]:
data_df.to_csv("domain_data.csv")

In [21]:
pwd

'C:\\Users\\ishit\\DATA MINING AND VISUALIZATION'

In [22]:
data_df.labels.unique()

array(['business', 'entertainment', 'politics', 'sport', 'tech'],
      dtype=object)